@page
@model WebApplication1.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}
    <div style="background-color: rgb(77, 78, 76); padding-top: 10px; padding-bottom: 10px; color: rgb(255, 255, 255);">
        <div class="container">
            Du er her: <b><a href="/index" style="color: #fff; text-decoration:underline">Hjem</a></b><b>></b><b><a href="/products" style="color: #fff; text-decoration:underline">Produkter</a></b><b>></b><b>@Html.DisplayFor(model=>model.Product.Description)</b>
        </div>
    </div>
    <h1 style="text-align: center; font-size: 32px;">Her er information om produktet: @Html.DisplayFor(model => model.Product.Description)</h1>


<div style="width:100%; height:100%;background-color:cornflowerblue; float:left">
    <div style="width:50%; height: 100%; max-width:50%; float: left">
        <h1>
            @Html.DisplayNameFor(model => model.Product.AdvancedDescription)
        </h1>
        @Html.DisplayFor(model => model.Product.AdvancedDescription)
    </div>
    <div style="width: 50%; height: 100%; max-width:50%; float: left;text-align: center">
        <h1 style="text-align: center">
            @Html.DisplayNameFor(model => model.Product.Price)
        </h1>
        @Html.DisplayFor(model => model.Product.Price)
    </div>
</div>



